<%= @user.name %>, <%= @user.email %>
<div><%= link_to "New Story", writestory_path %></div>
<div id="stories-list">
	<% if @user.stories.any? %>	
		<h3>Stories</h3>
		<ul>
			<%= render @stories %>
		</ul>
		<%= will_paginate @stories %>
	<% end %>
	
</div>