<%= form_for(@story) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.bootsy_area :content, class: 'form-control', rows: 12 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
