<h3><%= @story.title %></h3>
<strong><%= link_to @story.user.name, @story.user %></strong>
 - <%= time_ago_in_words(@story.created_at) %> ago.
 <div>
 	<%= link_to 'Edit', edit_story_path %>
 	 | 
 	<%= link_to 'Delete', @story, method: :delete,
 								 data: { confirm: "Are you sure?" } %>
 </div>
<p><%= raw @story.content %></p>

<h3>Comments</h3>
<div id="comments">
	<%= render :partial => @story.comments %>
</div>

<%= form_for [@story, Comment.new] do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>