<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div>
	<% if signed_in? %>
		<%= link_to "Sign out", signout_path, method: "delete" %>
	<% end %>
</div>
</body>
</html>
